:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  font-size: 1.2rem;
  background: #444;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  border-color: #646cff;
  background: #555;
  transform: scale(1.05);
}

.calculator-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 3px solid white;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.calculator-preview {
  width: 100%;
  border: 3px solid white;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #333;
  color: white;
  border-radius: 5px;
}

.numbers-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.special-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.operator-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.button {
  width: 96%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  font-size: 1.2rem;
  background: #444;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.button:hover {
  background: #555;
  transform: scale(1.05);
}

.operator {
  background: #646cff;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid white;
  color: white;
  transition: background 0.3s, transform 0.2s;
}

.operator:hover {
  background: #535bf2;
  transform: scale(1.05);
}
